﻿/*
    Site wide material design theme colors.
    
    For more information see:
    https://material.io/develop/web/docs/theming/#step-4-changing-the-theme-with-css-custom-properties    
    For a demonstration of how to use theme colors in the site, see:
    https://next.plnkr.co/edit/jeBSvWC8mAIhUmUQvHSA
*/

body {
  /*Main theme colors.*/
  --mdc-theme-primary: #ff9800;
  --mdc-theme-secondary: #ff5252;
  --mdc-theme-surface: #eeeeee;
  --mdc-theme-background: #ffffff;
  /*Text color on colors.*/
  --mdc-theme-on-primary: #000000;
  --mdc-theme-on-secondary: #000000;
  --mdc-theme-on-surface: #000000;
  /*Text color on backgrounds.*/
  --mdc-theme-text-primary-on-background: #000000;
  --mdc-theme-text-secondary-on-background: #000000;
  --mdc-theme-text-disabled-on-background: #000000;
  --mdc-theme-text-icon-on-background: #000000;
  /*Text color on preassumed backgrounds.*/
  --mdc-theme-text-primary-on-light: #000000;
  --mdc-theme-text-secondary-on-light: #000000;
  --mdc-theme-text-hint-on-light: #000000;
  --mdc-theme-text-disabled-on-light: #000000;
  --mdc-theme-text-icon-on-light: #000000;
}

/*Display material icons in the middle of text.*/

.material-icons {
  vertical-align: middle;
  /* Make icon text unselectable */
  user-select: none;
}

/*
    Page Sections Base Style

    Defines how the page framework should look. This is
    seen on every page, so it is very important!
*/

/*Ensure all sections can reach to the page ends.*/

body {
  margin: 0;
  background-color: var(--mdc-theme-primary)
}

a {
  color: var(--mdc-theme-primary);
}

a:hover {
  color: #ffb850;
}

a:active {
  color: var(--mdc-theme-secondary);
}

.inner-content-central {
  /* Put header items and main content items in the middle. */
  max-width: 920px;
  width: -moz-available;
  width: -webkit-fill-available;
  margin-left: auto;
  margin-right: auto;
}

/*Give page content the margin we took from the body.*/

.main-container {
  margin: 2px 1em;
  padding: 4px 7px 2px 4px;
  max-width: 1520px;
  /* min-height: 500px; */
  margin-right: auto;
  margin-left: auto;
}

.main-container-inner {
  height: 100%;
  padding: 20px 45px 40px 40px;
  top: -1px;
}

.header, .footer {
  /*Ensure header and footer use the full page width.*/
  left: 0;
  right: 0;
  /*Give the contents some side padding.*/
  padding: 0 1em 2px 1em;
  background-color: var(--mdc-theme-surface);
  /* Ensure header and footer stay in front. */
  z-index: 100;
}

/*Make header stay at top of page, and clip 20px when
    scrolling down past it.*/

.header {
  position: sticky;
  top: -20px;
  margin-bottom: 75px;
}

/*Ensure the footer is past main content at bottom of site.*/

.footer {
  position: relative;
  bottom: 0px;
  height: 75px;
  margin-top: 110px;
}

.footer-inner {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.header-inner {
  /* Offset slightly so bottom shadow in inline with header shadow */
  bottom: -2px;
  position: relative;
}

/*
    Header and Footer Elements

    These lists need to be displayed horizontally.
*/

.navbar-root {
  /*Don't show any bullets for list items*/
  list-style-type: none;
  margin: 0;
  padding: 0px 10px;
  overflow: hidden;
  text-align: center;
}

/*Make item roots display horizontally.*/

li.navbar-item {
  display: inline-block;
  height: 100%;
  padding: 0 20px;
  /*Leave some room between items.*/
  vertical-align: middle;
  /*Put links in vertical middle.*/
}

/*Make actual links occupy the full item space.*/

a.navbar-item {
  display: block;
  text-align: center;
  outline: none;
  /*Hide dotted outline box*/
  text-decoration: none;
  /*Don't show underlined text.*/
}

/*Choose colors for navbar items to indicate which page
    the user is currently on.*/

a.navbar-item {
  color: var(--mdc-theme-on-surface);
}

a.navbar-item:active {
  color: var(--mdc-theme-primary)
}

a.navbar-item:hover {
  color: var(--mdc-theme-primary)
}

#site-logo {
  /*Shrink site logo a little to streamline the header.*/
  height: 85px;
  width: 85px;
  /*Give extra padding so central logo appears more prominent.*/
  padding: 0px 20px;
}

.header-inner>.cart-link {
  display: inline-block;
  position: absolute;
  right: 13%;
  width: 120px;
  padding: 1em;
  padding-bottom: 0.5em;
  /* Only show rounded bottom corners */
  border-radius: 0 0 4px 4px;
  /* MDC card box shadow modified to have less raise at top. */
  box-shadow: 2px 2px 0px -1px rgba(0, 0, 0, 0.2), 0px 3px 1px -1px rgba(0, 0, 0, 0.14), 0px 1px 1px -1px rgba(0, 0, 0, .12)
}

.copyright-block {
  text-align: center;
  /* Put the copyright at the bottom of the footer. */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-links {
  padding-top: 10px;
  width: 100%;
}

.footer-page-links {
  text-align: left;
}

#footer-page-to-top {
  text-align: right;
  /* Position to-top link at the right of the footer. */
  position: absolute;
  right: 40px;
  /* Position in line with other links. */
  display: inline-flex;
}

/* Card Styles

Cards are used to display information about a particular object.
*/

/* Order card - used in customer profile. */

.card-holder--customer-orders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.order-card.mdc-card {
  width: 320px;
  /* Height will be dictated by expanded/collapsed content. */
  height: auto;
  background: #ffffff;
}

.order-card>.mdl-card__actions {
  border-color: var(--mdc-theme-on-primary);
}

.order-card>.mdl-card__title {
  align-items: flex-start;
}

.order-card>.mdl-card__title>h4, .order-card>.mdl-card__title>h4>p {
  margin: 0;
}

.order-card>.mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.order-card>.mdl-card__actions>.material-icons {
  padding-right: 10px;
}

.order-card>.mdl-card__title, .order-card>.mdl-card__actions, .order-card>.mdl-card__actions>.mdl-button {
  color: var(--mdc-theme-on-primary);
}

/* Expanded/collapsed order card style. */

.order-card:not(.is-expanded)>.mdl-card__actions {
  display: none;
}

.order-card:not(.is-expanded)>*>*>.order-card-info__additional {
  display: none;
}

.order-card.is-expanded>.mdl-card__actions {
  display: flex;
}

.order-card.is-expanded>*>*>.order-card-info__additional {
  display: block;
}

a.order-card__toggle-size {
  cursor: pointer;
}

.cancel-menu {
  /* Initially cancel menus should be hidden. */
  display: none;
}

.order-cancel-menu {
  padding: 0 16px;
}

/* Cake card - used in cake grid. */

.cake-card {
  width: 280px;
  margin: 12px 0;
}

.cake-card__primary {
  padding: 0.3rem 1rem;
}

.cake-card__title {
  margin: 0;
}

.cake-card__subtitle {
  color: rgba(0, 0, 0, 0.54);
  /* @alternate */
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
  margin: 0;
}

.cake-card__media {
  border: 0.5rem solid var(--mdc-theme-surface);
}

.cake-card__action {
  padding: 0.3rem 1.5rem;
}

.cake-card__tocart {
  transform: scale(2);
  /* font-size: 32px; */
  padding: 0;
  margin: 0 0.5rem 0 0;
}

.cake-card__price {
  /*Inline mdl-typography--subhead*/
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .04em;
  margin: 0;
  padding: 0.5rem 0;
}

/* Cake Grid */

.card-grid>li {
  /* Grid-like layout but with new lines when needed. */
  display: inline-block;
}

/* Info pages (also used throughout website */

.content-headline-container {
  margin-bottom: 3em;
  margin-right: 30px;
}

.content-headline-container>.mdl-typography--headline {
  margin-bottom: 15px;
}

/* FAQ page collapsible question and answer */

.faq-question {
  max-width: 480px;
  margin: 2em 0.5em;
}

.faq-question>.faq-question__answer {
  position: relative;
  line-height: 0px;
  color: var(--mdc-theme-surface);
  transition-duration: 0.2s;
  margin: 0 0.5em;
  padding: 0 1em;
  box-sizing: border-box;
  overflow: hidden;
}

.faq-question.opened>.faq-question__answer {
  line-height: 20px;
  color: var(--mdc-theme-on-surface);
  margin-bottom: 1em;
  padding: 0.25em 1em 0.5em 1em;
  border-bottom: 1px solid gray;
}

.faq-question>.faq-question__title>.faq-question__icon {
  transform: rotate(0deg);
  transition-duration: 0.2s;
}

.faq-question.opened>.faq-question__title>.faq-question__icon {
  transform: rotate(-180deg);
}

/* Contact Us page */

.contact-table {
  margin-left: 20px;
}

.contact-table__row>td {
  padding: 1em 1em 1em 0;
  vertical-align: top;
}

/* Home page */

.home-link-container {
  margin: 2em 0em 5em 0;
}

.home-link__image {
  width: 90%;
  max-width: 600px;
  height: 240px;
  background-size: cover;
  background-position: 0 10%;
}

.home-link-container>a {
  color: var(--mdc-theme-on-primary);
}

.home-link-container>a:hover {
  color: var(--mdc-theme-primary);
}

.home-link-container>a.active {
  color: var(--mdc-theme-primary);
}

/* Cart page */

#above-cake-limit-message {
  margin-bottom: 10px;
}

.vegan-badge[data-badge]::after {
  /* Actual badge element. */
  background-color: #7db83f;
}

/* Staff pages */

.staff-landing-action {
  margin: 0 10px;
}

/* Baker page */

.baker-order-card-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.baker-order-card {
  height: auto;
  width: 320px;
  margin: 20px;
  background-color: #ffffff;
}

.baker-order-card>.mdl-card__title {
  flex-direction: column;
  align-items: flex-start;
}

.baker-order-card>.mdl-card__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}